<p><%= @restaurant.name %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<% @reviews.each do |review| %>
<p> <%= review.content %> | <%= review.rating %></p>
<% end %>


<p><%= link_to 'All Restaurants', restaurants_path %></p>
<p><%= link_to '+Add a Review', new_restaurant_review_path(@restaurant) %></p>
